* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

:root {
    --Color1: #FFF;
    --Color2: #F8F9FA;
    --Color3: #E9ECEF;
    --Color4: #DEE2E6;
    --Color5: #CED4DA;
    --Color6: #ADB5BD;
    --Color7: #6C757D;
    --Color8: #495057;
    --Color9: #343A40;
    --Color10: #212529;
    --Color11: #f6f9fc;
}

body {
    scroll-behavior: smooth;
    background-color: var(--Color1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
input,
button {
    border: none;
    outline: none;
}
/* Start Header */
.navbar {
    background-color: var(--Color1);
    box-shadow: 0 0 20px var(--Color4);
    position: sticky;
    top: 0;
    z-index: 10000;
}
.navbar .logo {
    font-weight: bold;
}
.links {
    justify-content: flex-end;
}
.navbar .nav-link {
    color: var(--Color10);
    font-weight: 500;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
    border: none;
}
/* End Header */


/* Start Home Page */
@media (max-width: 992px) {
    .landing .container .content-home {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}
.landing {
    padding: 60px 0;
}
.landing .container .content-home {
    align-items: center;
}
.landing .container .content-home h2 {
    font-weight: bold;
}
.landing .container .col img {
    max-width: 100%;
    width: 80%;
    margin-top: 2rem;
}
.landing button.btn.btn-primary {
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    background-color: var(--Color10);
    color: var(--Color1);
    outline: none;
    border: none;
}
/* End Home Page */



/* Start About Page */
@media (max-width: 992px) {
    .landing-a .container .about {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }
    .landing-a .container .about .content-about h2 {
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
    }
}
.landing-a {
    /* background-color: var(--Color1); */
    padding: 60px 0;
}
.landing-a .container .about {
    align-items: center;
}
.landing-a .container .poster-about img {
    max-width: 100%;
    margin: 2rem 0;
}
.landing-a .container .about .content-about h2 {
    font-weight: bold;
    border-bottom: 5px solid var(--Color9);
    width: fit-content;
    padding-left: 2rem;
    padding-bottom: .5rem;
}
.landing-a .container .links-social {
    display: flex;
    justify-content: space-between;
}
.landing-a .container .links-social i {
    font-size: 30px;
    color: var(--Color9);
}
/* End About Page */



/* Start Portfolio Page */
.landing-p {
    padding: 100px 0;
}
.landing-p .container .portfolio .card {
    background-color: var(--Color2);
    border-radius: 0;
    border: none;
}
.landing-p .container .portfolio .card h3, 
.landing-p .container .portfolio .card p {
    padding-left: 5px;
    padding-top: 5px;
}
.landing-p .container .portfolio {
    
}
.landing-p .title-p h2 {
    margin: 2rem auto;
    font-weight: bold;
    width: fit-content;
    border-bottom: 5px solid var(--Color10);
}
/* End Portfolio Page */






/* Start Dark Mode */
/* .icon-mode {
    position: fixed;
    left: 8%;
    bottom: 10%;
    background-color: var(--Color10);
    width: 50px;
    height: 50px;
    border-radius: 500px;
    z-index: 1000;
    opacity: .9;
}
.icon-mode i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--Color1);
    font-size: 30px;
} */
/* End Dark Mode */







/* Start Servise Page */
@media (max-width: 992px) {
    .landing-s {
        text-align: center;
    }
}
.landing-s {
    padding: 40px 0 60px;
}
.landing-s .title-s {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-bottom: 5px solid var(--Color9);
    margin: 2rem auto;
}
.landing-s .container .content.row {
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.landing-s .container .content.row .card-s {
    background-color: var(--Color1);
    box-shadow: 0 0 2px hsla(0, 0%, 0%, .1);
    height: 55vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.landing-s .container .content.row .card-s:hover {
    border-right: 1px solid var(--Color9);
}
/* End Servise Page */







/* Start Star Page */
.landing-s .title-st {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-bottom: 5px solid var(--Color9);
    margin: 2rem auto;
}
.landing-st {
    padding: 100px 0;
}
.landing-st .container .content-st {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.landing-st .container .content-st .star-s {
    background-color: var(--Color11);
    align-items: flex-start;
    padding: 2rem;
    border-radius: .2rem;
}
.landing-st .star-s section {
    display: flex;
    justify-content: center;
}
.landing-st .star-s section i {
    color: rgb(255, 162, 0);
    margin: 0 .4rem;
}

/* End Star Page */