* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

:root {
    --Color1: #FFF;
    --Color2: #F8F9FA;
    --Color3: #E9ECEF;
    --Color4: #DEE2E6;
    --Color5: #CED4DA;
    --Color6: #ADB5BD;
    --Color7: #6C757D;
    --Color8: #495057;
    --Color9: #343A40;
    --Color10: #212529;
}

body {
    scroll-behavior: smooth;
    background-color: var(--Color2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
input,
button {
    border: none;
    outline: none;
}
/* Start Header */
.navbar {
    background-color: var(--Color1);
    box-shadow: 0 0 20px var(--Color4);
    position: sticky;
    top: 0;
    z-index: 10000;
}
.navbar .logo {
    font-weight: bold;
}
.links {
    justify-content: flex-end;
}
.navbar .nav-link {
    color: var(--Color10);
    font-weight: 500;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
    border: 1px solid var(--Color8);
}
/* End Header */


/* Start Home Page */
@media (max-width: 992px) {
    .landing .container .content-home {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}
.landing {
    padding: 60px 0;
}
.landing .container .content-home {
    align-items: center;
}
.landing .container .content-home h2 {
    font-weight: bold;
}
.landing .container .col img {
    max-width: 100%;
    width: 80%;
    margin-top: 2rem;
}
.landing button.btn.btn-primary {
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    background-color: var(--Color10);
    color: var(--Color1);
    outline: none;
    border: none;
}
/* End Home Page */



/* Start About Page */
@media (max-width: 992px) {
    .landing-a .container .about {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }
    .landing-a .container .about .content-about h2 {
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
    }
}
.landing-a {
    /* background-color: var(--Color1); */
    padding: 60px 0;
}
.landing-a .container .about {
    align-items: center;
}
.landing-a .container .poster-about img {
    max-width: 100%;
    margin: 2rem 0;
}
.landing-a .container .about .content-about h2 {
    font-weight: bold;
    border-bottom: 5px solid var(--Color10);
    width: fit-content;
    padding-left: 2rem;
    padding-bottom: .5rem;
}
.landing-a .container .links-social {
    display: flex;
    justify-content: space-between;
}
.landing-a .container .links-social i {
    font-size: 30px;
    color: var(--Color9);
}
/* End About Page */



/* Start Portfolio Page */
.landing-p {
    padding: 100px 0;
}
.landing-p .container .portfolio .card {
    background-color: var(--Color2);
    border-radius: 0;
    border: none;
}
.landing-p .container .portfolio .card h3, 
.landing-p .container .portfolio .card p {
    padding-left: 5px;
    padding-top: 5px;
}
.landing-p .container .portfolio {
    
}
/* End Portfolio Page */